<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/fontawesome/css/all.css" rel="stylesheet">
    <link href="/static/css/base_nomenu.css" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    {% block content %}{% endblock content %}

    <script src="/static/lib/jquery-3.7.1.js"></script>
    <script src="/static/lib/bootstrap.bundle.min.js"></script>
    <script src="/static/lib/fontawesome/js/all.js"></script>
    <script src="/static/lib/tools.js"></script>
    {% block scripts %}{% endblock scripts %}
</body>

</html>