{% extends 'base.html' %}

{% block title %}Categoria{% endblock title %}

{% block content %}

<link rel="stylesheet" href="/static/css/Inicio.css">
{% include 'components/sidebar.html' %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0"><i class="fas fa-layer-group me-2"></i>Nueva Categoria</h2>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="txt_nombre">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Estado</label> <br>
                        <label class="theme-switch-toggle">
                            <input type="checkbox" id="chk_status" checked>
                            <span class="theme-switch-slider"></span>
                        </label>
                    </div>
                    <button id="addcategory" type="submit" class="btn btn-primary w-100"><i class="fa-solid fa-plus"></i> Agregar Categoria</button>
                    <button id="editcategory" type="submit" class="btn btn-primary w-100 d-none"><i class="fa-solid fa-pen-to-square"></i> Editar Categoria</button>
                    <button id="cleanButton" type="submit" class="btn btn-danger w-100 mt-2"><i class="fa-solid fa-ban"></i> Cancelar</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0"><i class="fas fa-list-ul me-2"></i>Categorias</h3>
                </div>
                <div class="card-body">
                    <ul id="categorias" class="list-group"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="/static/scripts/Categoria.js"></script>
{% endblock scripts %}