{% extends 'base.html' %}

{% block title %}Inicio{% endblock title %}

{% block content %}

<style>
    .balance-card {
        background: linear-gradient(135deg, var(--primary-color), #7f5a83);
        color: white;
    }
    
    .billetera-card {
        background: linear-gradient(135deg, #b96398, var(--primary-color));
        color: white;
    }
    
    .balance-amount {
        font-size: 2.5rem;
        font-weight: bold;
    }

    #balance_total, #balance_billetera {
        font-size: calc(1.5rem + 0.5vw);
    }
    
    .balance-card {
        height: fit-content;
    }
    
    .transactions-container {
        max-height: calc(2 * (3.5rem + 2rem)) !important;
        overflow-y: auto;
    }

    #ddl_billetera {
        font-size: 1.2rem;
        font-weight: bold;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-4">
            <div class="card balance-card mb-4">
                <div class="card-body text-center">
                    <h3 class="mb-3">Balance Total</h3>
                    <p class="balance-amount mb-0" id="balance_total"></p> <br>
                    <h3 class="mb-3">Balance Billetera</h3>
                    <p class="balance-amount mb-0" id="balance_billetera"></p>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <h3 class="mb-0"><i class="fas fa-list-ul me-2"></i>Transacciones Recientes</h3>
                </div>
                <div class="card-body transactions-container">
                    <ul id="lista_de_transacciones" class="list-group"></ul>
                </div>
            </div>
            <div class="card billetera-card">
                <div class="card-body text-center">
                    <h3 class="mb-3">Billetera seleccionada</h3>
                    <select id="ddl_billetera" class="form-select bg-transparent text-white border-0">
                        <option value="0">Principal</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <!-- Ingresos -->
            <div class="card mb-4">
                <div class="card-header">
                    <h2 class="mb-0"><i class="fas fa-plus-circle me-2"></i>Nuevo Ingreso</h2>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label">Monto</label>
                        <input class="form-control 9N_2D" id="monto_ingreso">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Categoría</label>
                        <select class="form-select" id="categoria_ingreso"></select>
                    </div>
                    <button id="btn_reg_ingreso" class="btn btn-success w-100">Registrar Ingreso</button>
                </div>
            </div>

            <!-- Gastos -->
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0"><i class="fas fa-minus-circle me-2"></i>Nuevo Gasto</h2>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label">Monto</label>
                        <input class="form-control 9N_2D" id="monto_gasto">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Categoría</label>
                        <select class="form-select" id="categoria_gasto"></select>
                    </div>
                    <button id="btn_reg_gasto" class="btn btn-danger w-100">Registrar Gasto</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="/static/scripts/Inicio.js"></script>
{% endblock scripts %}