{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}

<link rel="stylesheet" href="/static/css/Login.css">

<div class="login-container">
    <div class="card">
        <div class="card-header">
            <h2 class="mb-0"><i class="fas fa-wallet me-2"></i>Gestor de Gastos e Ingresos</h2>
        </div>
        <div class="card-body">
            <h3 class="text-center mb-4">Login</h3>
            <div class="mb-3">
                <input type="text" class="form-control" id="txt_username" placeholder="Username">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="txt_password" placeholder="Password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe">
                <label class="form-check-label" for="rememberMe">Recordarme</label>
            </div>
            <button id="btnLogin" class="btn btn-primary w-100 mb-3">Sign in</button>
            <div class="text-center">
                <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
            </div>
        </div>
    </div>
    <div class="login-footer">
        ¿No tienes una cuenta? <a href="#">Regístrate aquí</a>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="/static/scripts/Login.js"></script>
{% endblock scripts %}